<div class="text-content">
  <h1>Welcome to Darling Album!</h1>
  <p>Step into our world of love and laughter captured through the lens. Every click represents a cherished moment, a shared smile, and a memory to hold close to our hearts.</p>
  <p>From the goofy selfies and screenshots to cute morning photos. Each photo is a testament to the love, joy, and connection we share.</p>

  <p>Take a stroll through my collection and relive the moments that have made us laugh, cry, and grow closer than ever. Thank you for being a part of our story.</p>
  <p>With love</p>

</div>
